<div class="container-fluid">
    <%= render 'layouts/messages' %>
    <div class="row-fluid">
		<div class="login">
			<div class="center-text">
                <%= image_tag("small-divider.png") %>
                <h1 class="invite-text uppercase">Enter your username and password</h1>
				<%= form_tag sessions_path do %>

					<p>
						<%= label_tag :username, "Username", class:"invite-text uppercase" %><br />
						<%= text_field_tag :username, params[:username], class:"text-input" %>
					</p>
					<p>
						<%= label_tag :password, "Password", class:"invite-text uppercase" %><br />
						<%= password_field_tag :password, nil, class:"text-input" %>
					</p>
					<p class="button"><%= submit_tag "Login", class: 'submit login-btn' %></p>
				<% end %>
                <p class="invite-text uppercase">If you are having issues logging in or need assistance,<br>please contact the Kounelis home at (219) 865-0206</p>
                
            </div>
            <%= image_tag("big-divider-upside-down.png", class: "pad-top") %>
		</div>
	</div>
</div>
