<%= link_to "Log Out", logout_path, class: 'logout-btn' %>
<div id="index">

	<h1>Guests</h1>
    
	<div id='import'>
        <%= link_to 'Add user', new_user_path, class: 'btn btn-primary' %>
		<h3>Import Guest Info</h3>
		<%= form_tag import_users_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import", id: 'importsubmit' %>
		<% end %>
	</div>
    
    <h3>Confirmed guests so far: <%= User.sum(:numguests) %></h3> 

	<table class='table table-striped table-condensed'>
	  <tr>
		<th>Name (click name to edit)</th>       
		<th>Username</th>
		<th>Attending?</th>          
		<th># of Guests</th>
		<th>RSVP'd</th>        
		<th>Role</th>
	  </tr>
	  
	<% @users.each do |user| %>
	  <tr>
		<td><%= link_to user.firstname1, edit_user_path(user) %></td>
		<td><%= user.username %></td>
		<td><% if !user.reception.blank? %>
                <% if (user.reception == true) %>
                    Yes
                <% else %>
                    No
                <% end %>
            <% end %>
        </td>  
        <td><%= user.numguests %></td>
		<td><% if user.respond %>
                Yes
            <% end %>  
        </td>     
		<td><%= user.role %></td>
	  </tr>
	<% end %>
	</table>
</div>