        <%= link_to "Log Out", logout_path, class: 'logout-btn' %>
<div id="index">

	<h1>Guests</h1>

	<div id='import'>
        <%= link_to 'Add user', new_user_path, class: 'btn btn-primary' %>
		<h3>Import Guest Info</h3>
		<%= form_tag import_users_path,multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "Import", id: 'importsubmit' %>
		<% end %>
	</div>

	<table class='table table-striped table-condensed'>
	  <tr>
		<th>First</th>
		<th>Last</th>
		<th>First</th>
		<th>Last</th>
		<th>First</th>
		<th>Last</th>
		<th>First</th>
		<th>Last</th>    
		<th>First</th>
		<th>Last</th>           
		<th>Username</th>
		<th>Guests Allowed</th>
		<th>Guests Bringing</th>
		<th>RSVP'd</th>
		<th>Ceremony</th>
		<th>Ceremony2</th>
		<th>Reception</th>
		<th>Reception2</th>
		<th>Song Request</th>
		<th>Role</th>
	  </tr>
	  
	<% @users.each do |user| %>
	  <tr>
		<td><%= link_to user.firstname1, edit_user_path(user) %></td>
		<td><%= user.lastname1 %></td>
		<td><%= user.firstname2 %></td>
		<td><%= user.lastname2 %></td>
		<td><%= user.firstname3 %></td>          
		<td><%= user.lastname3 %></td>
		<td><%= user.firstname4 %></td>
		<td><%= user.lastname4 %></td>  
		<td><%= user.firstname5 %></td>
		<td><%= user.lastname5 %></td>            
		<td><%= user.username %></td>
		<td><%= user.maxguests %></td>
		<td><%= user.numguests %></td>
		<td><%= user.respond %></td>
		<td><%= user.ceremony %></td>
		<td><%= user.reception %></td>
		<td><%= user.ceremony2 %></td>
		<td><%= user.reception2 %></td>
		<td><%= user.ceremony3 %></td>
		<td><%= user.reception3 %></td>	
		<td><%= user.ceremony4 %></td>
		<td><%= user.reception4 %></td>	
		<td><%= user.ceremony5 %></td>
		<td><%= user.reception5 %></td>	          
		<td><%= user.comment %></td>
		<td><%= user.role %></td>
	  </tr>
	<% end %>
	</table>
</div>