<h1>Add User</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p >
    <%= f.label :firstname1 %><br>
    <%= f.text_field :firstname1 %><br>
  </p>
  <p>
    <%= f.label :lastname1 %><br>
    <%= f.text_field :lastname1 %><br>
  </p>
  <p >
    <%= f.label :firstname2 %><br>
    <%= f.text_field :firstname2 %><br>
  </p>
  <p>
    <%= f.label :lastname2 %><br>
    <%= f.text_field :lastname2 %><br>
  </p>
  <p >
    <%= f.label :firstname3 %><br>
    <%= f.text_field :firstname3 %><br>
  </p>
  <p>
    <%= f.label :lastname3 %><br>
    <%= f.text_field :lastname3 %><br>
  </p>
  <p >
    <%= f.label :firstname4 %><br>
    <%= f.text_field :firstname4 %><br>
  </p>
  <p>
    <%= f.label :lastname4 %><br>
    <%= f.text_field :lastname4 %><br>
  </p>
  <p >
    <%= f.label :firstname5 %><br>
    <%= f.text_field :firstname5 %><br>
  </p>
  <p>
    <%= f.label :lastname5 %><br>
    <%= f.text_field :lastname5 %><br>
  </p>
  <p >
    <%= f.label :maxguests %><br>
    <%= f.text_field :maxguests %><br>
  </p>
  <p>
    <%= f.label :role %><br>
    <%= f.text_field :role %><br>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>