<% if @user.role == "admin" %>
    <%= button_to "Admin", users_path, class: 'admin-btn', method: :get %>
<% end %>
<div class="pad-bottom container-fluid">
    <div class="row-fluid">
        
		<div class= "invite-text center-text col col-md-6 col-md-offset-3">
			<h1 class="invite-text">
				<% if @user.lastname1 == @user.lastname2 %>
					<%= "Dear #{@user.firstname1} and #{@user.firstname2} #{@user.lastname1}," %>
				<% elsif @user.firstname2.blank? %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1}," %>
				<% else %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1} and #{@user.firstname2} #{@user.lastname2}," %>
				<% end %>
			</h1>  
  
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<p class="invite-text">Please join us for a celebration of love, friendship, laughter, and family as<br>Paulina Kounelis<br>and<br>Joshua Santiago<br>join hands in matrimony on<br>January Seventeenth, Two Thousand Fifteen!</p>
				<p class="invite-text">New Saint George Romanian Orthodox Church<br>17601 Wentworth Avenue<br>Lansing, Illinois 60438<br>Reception to follow</p>
                <div class="field">
                    <%= f.label "Number of guests coming with you:", class: "invite-text" %>
                    <%= f.number_field :numguests, min: 0, id: "numguests" %>
                    <div id="guestnames">
                        <%= f.label "Names of guests: ", class: "invite-text" %>
                        <%= f.text_field :guestnames, placeholder: "ie. John and Jill Smith" %>
                    </div>
                </div>
				<%= f.hidden_field :respond, value: true %>
				<div class="form-actions">
					<%= f.submit 'Click to RSVP', class:'rsvp-btn submit' %>
				</div>
			<% end %>			
		</div>
	</div>	   
</div>