<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-4"><%= image_tag('Tree.jpg') %></div>	   
		<div id="login" class="col-md-8">
			<h1><p class="label-question">
				<% if @user.lastname1 == @user.lastname2 %>
					<%= "Hello, #{@user.firstname1} and #{@user.firstname2} #{@user.lastname1}!" %>
				<% elsif @user.firstname2.empty? %>
					<%= "Hello, #{@user.firstname1} #{@user.lastname1}!" %>
				<% else %>
					<%= "Hello, #{@user.firstname1} #{@user.lastname1} and #{@user.firstname2} #{@user.lastname2}!" %>
				<% end %>
			</p></h1>  
  
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<% if @user.maxguests > 0 %>
					<div class="field">
						<%= f.label "Number of guests coming with you:" %>
						<%= f.number_field :numguests, max: @user.maxguests, min: 0, class: 'label-question'  %>
					</div>
				<% end %>

				<div>
					<%= f.label 'ceremony', "Will #{@user.firstname1} be coming to the ceremony?" %><br />
					<%= f.radio_button :ceremony, 1 %>
					<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :ceremony, 0 %>
					<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
				</div> 
				<% if !@user.lastname2.empty? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname2} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony2, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony2, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
				<div>
					<%= f.label 'reception', "Will #{@user.firstname1} be coming to the reception?" %><br />
					<%= f.radio_button :reception, 1 %>
					<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :reception, 0 %>
					<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
				</div>  
				<% if !@user.lastname2.empty? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname2} be coming to the reception?" %><br />
						<%= f.radio_button :reception2, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception2, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>				
				<div>
					<%= f.label "Any comments?" %><br />
					<%= f.text_area :comment, rows: 5, cols: 55, placeholder: "Enter comments here..." %>
				</div>
				<%= f.hidden_field :respond, value: true %>
				<div class="form-actions">
					<%= f.submit 'Click to RSVP', class:'submit' %>
				</div>
			<% end %>			
		</div>
	</div>	   
</div>