<% if @user.role == "admin" %>
    <%= button_to "Admin", users_path, class: 'admin-btn', method: :get %>
<% end %>
<div class="pad-bottom container-fluid">
    <div class="row-fluid pad-top">
        <%= image_tag("small-divider.png") %>
		<div class= "invite-text center-text uppercase">
			<h1 class="invite-text">
				<% if @user.lastname1 == @user.lastname2 %>
					<%= "Dear #{@user.firstname1} and #{@user.firstname2} #{@user.lastname1}," %>
				<% elsif @user.firstname2.blank? %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1}," %>
				<% else %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1} and #{@user.firstname2} #{@user.lastname2}," %>
				<% end %>
			</h1>  
  
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<p class="invite-text">Teddy and Susan Kounelis<br>
                    request the honour of your presence<br>
                    at the marriage of their daughter<br>
                    <%= image_tag("big-divider.png", class:'pad-top') %><br>
                    <span class='name-font'>Paulina Ann<br>
                    &<br>
                    Joshua Nicholas</span><br>
                    <%= image_tag("big-divider-upside-down.png", class: "pad-top") %><br>
                    son of Nick Santiago and Heidi Strom<br>
                    <span class="day-font">Saturday</span><br>
                    the Seventeenth of January<br>
                    <%= image_tag('heart-left.png', class: 'inline-img') %><span class='year-font'>2015</span><%= image_tag('heart-right.png', class: 'inline-img') %><br>
                    at three o'clock in the afternoon<br>
                    New St. George Romanian Orthodox Church<br>
                    <strong class="address-font">17601 Wentworth Ave.</strong><br>
                    Lansing, Illinois<br>
                    <%= image_tag("small-divider.png") %><br>
                    The pleasure of your company is requested<br>
                    at the reception<br>
                    at six o'clock in the evening<br>
                    Halls of St. George<br>
                    <strong class="address-font">905 East Joliet Street</strong><br>
                    Schererville, Indiana
                </p>
				<div>
					<%= f.label 'ceremony', "Will you be coming to the ceremony?" %>
					<%= f.radio_button :ceremony, 'Yes' %>
					<%= label :ceremony_1, "Yes", class: 'radiolabel' %>
					<%= f.radio_button :ceremony, 'No' %>
					<%= label :ceremony_0, "No", class: 'radiolabel' %><br>
                    <%= f.label "Names of guests: ", class: "invite-text" %>
                    <%= f.text_field :guestnames, placeholder: "ie. John and Jill Smith" %><br>
                    <%= f.label "Number of guests in your party:", class: "invite-text" %>
                    <%= f.number_field :numguests, min: 0, id: "numguests", class: "input-small" %>
                </div>
				<%= f.hidden_field :respond, value: true %>
				<div class="form-actions">
					<%= f.submit 'Click to RSVP', class:'rsvp-btn submit' %>
				</div>
			<% end %>			
		</div>
	</div>	   
</div>