<div class="container-fluid">
    <div class="row-fluid">
        
		<div id="myCarousel" class="col col-md-4 carousel slide auto">
			<ol class="carousel-indicators">
				<li class="active" data-target="#myCarousel" data-slide-to="0"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>				
			</ol>
			<div class="carousel-inner">
				<div class="item active"><%= image_tag("johnandstef.jpg", alt:"John and Stefanie") %></div>
				<div class="item"><%= image_tag("johnandstef2.jpg", alt:"John and Stefanie") %></div>
				<div class="item"><%= image_tag("jands3.jpg", alt:"John and Stefanie") %></div>
				<div class="item"><%= image_tag("jands4.jpg", alt:"John and Stefanie") %></div>				
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>	   
		
		<div id="login" class="col col-md-6">
			<h1><p class="invite-text">
				<% if @user.lastname1 == @user.lastname2 %>
					<%= "Dear #{@user.firstname1} and #{@user.firstname2} #{@user.lastname1}," %>
				<% elsif @user.firstname2.empty? %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1}," %>
				<% else %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1} and #{@user.firstname2} #{@user.lastname2}," %>
				<% end %>
			</p></h1>  
  
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<p class="invite-text">Please join us for a celebration of love, friendship, laughter, and family as<br />Johnny Flanagin<br />and<br />Sefanie Camplan</br>join hands in matrimony on<br />October Fourth, Two Thousand Fourteen!</p>
				<p class="invite-text">11224 Durbin Place<br>Crown Point, Indiana 46303<br>Reception to follow</p>
				<% if @user.maxguests > 0 %>
					<div class="field">
						<%= f.label "Number of guests coming with you:", class: "invite-text" %>
						<%= f.number_field :numguests, max: @user.maxguests, min: 0 %>
					</div>
				<% end %>

				<div class="invite-text">
					<%= f.label 'ceremony', "Will #{@user.firstname1} be coming to the ceremony?" %><br />
					<%= f.radio_button :ceremony, 1 %>
					<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :ceremony, 0 %>
					<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
				</div> 
				<% if !@user.lastname2.empty? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname2} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony2, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony2, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
				<div>
					<%= f.label 'reception', "Will #{@user.firstname1} be coming to the reception?" %><br />
					<%= f.radio_button :reception, 1 %>
					<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :reception, 0 %>
					<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
				</div>  
				<% if !@user.lastname2.empty? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname2} be coming to the reception?" %><br />
						<%= f.radio_button :reception2, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception2, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>				
				<div>
					<%= f.label "Any comments?" %><br />
					<%= f.text_area :comment, rows: 5, cols: 55, placeholder: "Enter comments here..." %>
				</div>
				<%= f.hidden_field :respond, value: true %>
				<div class="form-actions">
					<%= f.submit 'Click to RSVP', class:'submit' %>
				</div>
			<% end %>			
		</div>
	</div>	   
</div>