<% if @user.role == "admin" %>
    <%= button_to "Admin", users_path, class: 'admin-btn', method: :get %>
<% end %>
<div class="pad-bottom container-fluid">
    <div class="row-fluid">
        
		<div class= "invite-text center-text col col-md-6 col-md-offset-3">
			<h1 class="invite-text">
				<% if @user.lastname1 == @user.lastname2 %>
					<%= "Dear #{@user.firstname1} and #{@user.firstname2} #{@user.lastname1}," %>
				<% elsif @user.firstname2.blank? %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1}," %>
				<% else %>
					<%= "Dear #{@user.firstname1} #{@user.lastname1} and #{@user.firstname2} #{@user.lastname2}," %>
				<% end %>
			</h1>  
  
			<%= form_for @user do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				
				<p class="invite-text">Please join us for a celebration of love, friendship, laughter, and family as<br>Paulina Kounelis<br>and<br>To Be Named<br>join hands in matrimony on<br>January Seventeenth, Two Thousand Fifteen!</p>
				<p class="invite-text">New Saint George Romanian Orthodox Church<br>17601 Wentworth Avenue<br>Lansing, Illinois 60438<br>Reception to follow</p>
				<% if @user.maxguests > 0 %>
					<div class="field">
                        <p class="invite-text">You can bring <%= @user.maxguests %> guests.</p>
						<%= f.label "Number of guests coming with you:", class: "invite-text" %>
						<%= f.number_field :numguests, max: @user.maxguests, min: 0, class: 'initial-text', id: "numguests" %>
                        <% if @user.numguests > 0 %>
                            <div id="guestnames">
                                <%= f.label "Name of guests: ", class: "invite-text" %>
                                <%= f.text_field :guestnames, placeholder: "Enter guest names here", class: "initial-text" %>
                            </div>
                        <% end %>
					</div>
				<% end %>

				<div class="invite-text">
					<%= f.label 'ceremony', "Will #{@user.firstname1} be coming to the ceremony?" %><br />
					<%= f.radio_button :ceremony, 1 %>
					<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :ceremony, 0 %>
					<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
				</div> 
				<% if !@user.lastname2.blank? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname2} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony2, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony2, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
                <% if !@user.lastname3.blank? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname3} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony3, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony3, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
                <% if !@user.lastname4.blank? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname4} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony4, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony4, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
                <% if !@user.lastname5.blank? %>
					<div>
						<%= f.label 'ceremony', "Will #{@user.firstname5} be coming to the ceremony?" %><br />
						<%= f.radio_button :ceremony5, 1 %>
						<%= label :ceremony_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :ceremony5, 0 %>
						<%= label :ceremony_0, "Can't make it", class: 'radiolabel' %>
					</div> 
				<% end %>
				<div>
					<%= f.label 'reception', "Will #{@user.firstname1} be coming to the reception?" %><br />
					<%= f.radio_button :reception, 1 %>
					<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
					<%= f.radio_button :reception, 0 %>
					<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
				</div>  
				<% if !@user.lastname2.blank? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname2} be coming to the reception?" %><br />
						<%= f.radio_button :reception2, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception2, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>
                <% if !@user.lastname3.blank? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname3} be coming to the reception?" %><br />
						<%= f.radio_button :reception3, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception3, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>
                <% if !@user.lastname4.blank? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname4} be coming to the reception?" %><br />
						<%= f.radio_button :reception4, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception4, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>
                <% if !@user.lastname5.blank? %>
					<div>
						<%= f.label 'reception', "Will #{@user.firstname5} be coming to the reception?" %><br />
						<%= f.radio_button :reception5, 1 %>
						<%= label :reception_1, "Absolutely", class: 'radiolabel' %>
						<%= f.radio_button :reception5, 0 %>
						<%= label :reception_0, "Can't make it", class: 'radiolabel' %>
					</div>  
				<% end %>
                <div>
					<%= f.label "I promise to dance if you play this song:" %><br />
					<%= f.text_field :comment, placeholder: "Enter song here...", class: 'initial-text' %>
				</div>
				<%= f.hidden_field :respond, value: true %>
				<div class="form-actions">
					<%= f.submit 'Click to RSVP', class:'rsvp-btn submit initial-text' %>
				</div>
			<% end %>			
		</div>
	</div>	   
</div>